<div class="section">
    <div class="container">
      <div class="footer-wrap">
        <a href="{{ links.132c1309 }}" target="_blank" class="webflow-link w-inline-block"><img src="{{ images.-6738c29d.url }}" width="15" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;15px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;15px&quot;}]" alt="{{ images.-6738c29d.alt | trim | escape }}" class="webflow-logo-tiny">
          <div class="paragraph-tiny">{{ texts.42d540f5 }}</div>
        </a>
      </div>
    </div>
  </div>